[Unit]
Description=This Daemon Proccess runs 
After=network.target

[Service]
Environment="PATH=/usr/bin:/usr/bin/share:/bin"
Type=simple
User=root
Group=root
WorkingDirectory=/home/sony/controlm/
ExecStart=python3 /home/sony/controlm/controlmd.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target